<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All About Me</title>
</head>
<body>

    <!-- Main heading for the page -->
    <h1>About Sebastian Cantarilho</h1>

    <!-- Section: Introduction -->
    <h2>Introduction</h2>
    <p>Hi There! My name is <strong>Sebastian Cantarilho</strong>! I am a sophomore at UMD studying <em>Marketing</em> and <em>International Business</em>. I am in the <strong>QUEST</strong> Honors Program as well. I love being a terrapin!</p>

    <p>When I am not in class, I love to hangout with friends and learn more about the world. It is important to continue growing both <em>academically</em> and <em>personally</em>!</p>

    <!-- Section: Hobbies -->
    <h2>My Hobbies</h2>
    <p>I have many hobbies, as seen in the following list:</p>
    <ul>
        <li>Yoga</li>
        <li>Reading</li>
        <li>Spending time with Friends</li>
        <li>Poetry</li>
    </ul>

    <!-- Section: Aspirations -->
    <p>I also have many dreams and goals that I would love to achieve</p>
    <ol>
        <li>Graduate with a double major and a minor</li>
        <li>Become an EGOT</li>
        <li>Live in at least 5 countries</li>
        <li>Become filthy rich $$$</li>
    </ol>
    <!-- Section: Courses -->
    <h2>Courses I Have Taken at UMD</h2>
    <table border="2">
           <tr>
               <th>Course</th>
               <th>Semester</th>
           </tr>
            <tr>
                <td>BMGT110F</td>
                <td>Fall 2024</td>
            </tr>
            <tr>
                <td>BSCI135</td>
                <td>Spring 2025</td>
            </tr>
            <tr>
                <td>BMGT408C</td>
                <td>Fall 2025</td>
            </tr>
    </table>

    <!-- Hyperlinks -->
    <h2>Links</h2>
    <p>
        <!-- Relative link -->
        Visit my <a href="/hello">Hello Page</a>.<br>

        <!-- Fun Links -->
        I often shop at <a href="https://www.amazon.com" target="_blank">Amazon</a> for all my shopping needs<br>
        I also enjoy at <a href="https://www.netflix.com" target="_blank">Netflix</a> for watching movies and tv shows
    </p>

    <!-- QUEST Logo -->
    <h2>QUEST Logo</h2>
    <img src="https://terpconnect.umd.edu/~jbono/bmgt408c/images/quest-logo.png" alt="QUEST Logo" width="221" height="92">

    <!-- comment 1 -->
    <!-- comment 2 -->
    <!-- comment 3! -->

</body>
</html>