{% extends "base.html" %}

{% block page_title %}
    Training
{% endblock %}

{% block page_head %}
    Welcome to your training for the TerpSys Student Information System!
{% endblock %}

{% block page_content %}
    <p>
        Training materials are currently under construction, but will be created very soon.
        Please check back soon or email Sebastian Cantarilho at
        <a href="mailto:scantari@umd.edu">scantari@umd.edu</a> if you wish to be placed on the waiting list.
    </p>
{% endblock %}
